
<div class="container">
    <h2>User List</h2>
    <div class="list-group" *ngIf="userData?.length > 0">
        <div  *ngFor="let info of userData;">
            <a href="javascript:void(0)"  (click)="openUserPage(info.id)" class="list-group-item">
                <img src="{{info.avatar}}" width="100" height="100">
                <h4 class="list-group-item-heading">{{info.first_name}} {{info.last_name}}</h4>
                <p class="list-group-item-text">{{info.email}}</p>
            </a>
        </div>
           
    </div>
</div>