<div class="container">
	<div class="row">
		<div class="col-sm-12">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="image" src="{{userObject.avatar}}">
                </div>
                <div class="info">
                    <div class="title">
                        <a  href="javascript:void(0)">{{userObject.first_name}} {{userObject.last_name}}</a>
                    </div>
                    <div class="desc">{{userObject.email}}</div>
                </div>
             
            </div>

        </div>

	</div>
</div>